@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  padding: 0 3.78%;
  margin: 0 auto;
}

:root {
  --primary-color:#ff4b36;
  --secondary-color:#6f6f6f;
}

/*=================================
  Header styling starts here
=================================*/

.slide { display: none;}

header {
  background: url('https://via.placeholder.com/1351x649') no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

header h2 {
  padding-top: 297px;
  margin-bottom: 26px;
  color: #fff;
  font-size: 44px;
  font-weight: 700;
  text-transform: uppercase;
}

header h2 span {
  margin-left: 10px;
  color: var(--primary-color);
}

header p {
  padding-bottom: 262px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/*=================================
  about us styling starts here
=================================*/

.about-us { padding: 104px 0 80px;}

.about-us h3 {
  margin-bottom: 73px;
  font-size: 36px;
  font-weight: 700;
  position: relative;
}

.about-us h3::before,
.about-us h3::after {
  content: '';
  height: 5px;
  background: var(--primary-color);
  position: absolute;
}

.about-us h3::before {
  width: 4%;
  top: 140%;
}

.about-us h3::after {
  width: 2.5%;
  top: 119%;
  left: 0;
}

.about { display: flex;}

.about figure {
  margin-right: 3.1%;
  flex-basis: 47.65%;
}

.about p {
  margin-left: 3.1%;
  color:var(--secondary-color);
  flex-basis: 47.3%;
  font-size: 17px;
  line-height: 1.4;
}

.about p span { color: var(--primary-color);}

/*=================================
  about us styling ends here
=================================*/  

/*=================================
  quality services styling starts here
=================================*/

.quality-services { 
  padding: 60px 0;
  background-color: #efefef;
}

.quality-services h3 {
  margin-bottom: 73px;
  font-size: 34px;
  font-weight: 700;
  position: relative;
  text-transform: capitalize;
}

.quality-services h3::before,
.quality-services h3::after {
  content: '';
  height: 5px;
  background: var(--primary-color);
  position: absolute;
}

.quality-services h3::before {
  width: 4%;
  top: 140%;
}

.quality-services h3::after {
  width: 2.5%;
  top: 119%;
  left: 0;
}

.services {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
}

.service {
  margin: 0 3.7% 14px 0;
  padding: 20px;
  padding-bottom: 22px;
  background: #fff;
  flex-basis: 27.3%;
}

.services li:nth-child(3),
.services li:nth-child(6) { margin: 0 0 14px 0;}

.serve-head { border-bottom: 5px solid #efefef ;}

.serve-head a {
  padding: 20px 0 18px;
  color: var(--primary-color);
  font-size: 20px;
}

.serve-body {
  display: flex;
  flex-direction: column;
}

.serve-body h4 {
  margin: 25px 0 27px;
  font-size: 22px;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.serve-body span {
  margin-bottom: 24px;
  color: var(--secondary-color);
  font-size: 18px;
}

.serve-body a {
  font-size: 18px;
  color: var(--primary-color);
  text-transform: capitalize;
}

.skills { display: flex;}

.skills-info { 
  margin-right: 5%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

.skill-set {
  display: flex;
  flex-direction: column;
  flex-basis: 51%;
}

.skills-info p:first-of-type {
  margin-bottom: 20px;
  font-size: 23px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 1px;  
}

.skills-info p:last-of-type {
  color: var(--secondary-color);
  line-height: 1.5;
  letter-spacing: 0.8px;
}

.skill-set li {
  padding: 12px 0 14px; 
  color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  letter-spacing: 0.8px;
  text-transform: capitalize;  
  border-bottom: 7px solid black;
}

.skill-set li span:last-of-type { font-size: 16px;}

/*=================================
  quality services styling ends here
=================================*/  

/*=================================
  work styling starts here
=================================*/

.work { padding: 108px 0 55px;}

.work h3 {
  margin-bottom: 73px;
  font-size: 34px;
  font-weight: 700;
  position: relative;
  text-transform: capitalize;
}

.work h3::before,
.work h3::after {
  content: '';
  height: 5px;
  background: var(--primary-color);
  position: absolute;
}

.work h3::before {
  width: 4%;
  top: 140%;
}

.work h3::after {
  width: 2.5%;
  top: 119%;
  left: 0;
}

.work ul { 
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.work li { margin-bottom: 29px;}

.work img { max-width: 388px;}

/*=================================
  work styling ends here
=================================*/  

/*=================================
  support styling starts here
=================================*/

.support h3 {
  margin-bottom: 73px;
  font-size: 34px;
  font-weight: 700;
  position: relative;
  text-transform: capitalize;
}

.support h3::before,
.support h3::after {
  content: '';
  height: 5px;
  background: var(--primary-color);
  position: absolute;
}

.support h3::before {
  width: 4%;
  top: 140%;
}

.support h3::after {
  width: 2.5%;
  top: 119%;
  left: 0;
}

.supp { display: flex;}

.support-devices { 
  width: 47%;
  padding: 40px 0;
  margin-left: 3%;
  display: flex;
  flex-direction: column;
}

.support-devices h4 {
  margin-bottom: 12px;
  font-size: 24px;
  font-weight: 700;
  text-transform: capitalize;
}

.support-devices li:first-of-type p{ margin-bottom: 44px;}

.support-devices p {
  color: var(--secondary-color);
  font-size: 18px;
  line-height: 1.5;
}

/*=================================
  support styling ends here
=================================*/  

/*=================================
  Developer styling starts here
=================================*/

.developer {
  padding: 90px 0 55.5px;
  background: #f3f3f3;
}

.developer h3 {
  margin-bottom: 73px;
  font-size: 34px;
  font-weight: 700;
  position: relative;
  text-transform: capitalize;
}

.developer h3::before,
.developer h3::after {
  content: '';
  height: 5px;
  background: var(--primary-color);
  position: absolute;
}

.developer h3::before {
  width: 4%;
  top: 140%;
}

.developer h3::after {
  width: 2.5%;
  top: 119%;
  left: 0;
}

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
}

.member {
  padding: 31px 30px;
  background: #fff;
}

.member h4 {
  margin-bottom: 12px;
  font-size: 24px;
  font-weight: 700;
}

.member span { 
  color: var(--secondary-color);
  font-size: 17px;
}

/*=================================
  Developer styling ends here
=================================*/  

/*=================================
  get in touch styling starts here
=================================*/

.get-in-touch {
  padding: 55.5px 0 80px 0;
  background: #f3f3f3;
}

.get-in-touch h3 {
  margin-bottom: 97px;
  font-size: 34px;
  font-weight: 700;
  position: relative;
  text-transform: capitalize;
}

.get-in-touch h3::before,
.get-in-touch h3::after { 
  content: '';
  height: 5px;
  background: var(--primary-color);
  position: absolute;
}

.get-in-touch h3::before {
  width: 4%;
  top: 140%;
}

.get-in-touch h3::after {
  width: 2.5%;
  top: 119%;
  left: 0;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group {
  width: 59.3%;
}

.form-group input { 
  width: 100%;
  padding: 13px 4px;
  margin-bottom: 26px;
  border:1px solid #000;
  background: #f3f3f3;
  color: var(--secondary-color);
}

form a {
  margin-top: 2px;
  margin-right: 42%;
  padding: 14.5px 95px;
  background: var(--primary-color);
  color: #fff;
  font-size: 12px;
}

/*=================================
get in touch styling ends here
=================================*/  

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

footer { 
  background: #f3f3f3;

}





 /*=================================
  footer styling ends here
=================================*/ 
